/db_data
.idea
/wordpress/wp-content/themes/twentytwenty
/wordpress/wp-content/themes/brads-boilerplate-theme
/wordpress/wp-content/themes/twentytwentyone
/wordpress/wp-content/themes/twentytwentytwo
/wordpress/wp-content/themes/oceanwp
/wordpress/wp-content/themes/portfolio-web
/wordpress/wp-content/languages
/wordpress/wp-content/plugins
/wordpress/wp-includes
/wordpress/wp-admin
/wordpress/wp-content/uploads